<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<!-- コンソール出力用 (VS.NET 上 [出力] ウインドウへ) -->
	<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="@%-5level&gt;&gt; [%class.%method.%line] %message%newline"/>
		</layout>
	</appender>

	<!--
			Fatal システム停止するような致命的な障害 
			Error システム停止はしないが、問題となる障害 
			Warn 障害ではない注意警告 
			Info 操作ログなどの情報 
			Debug 開発用のデバッグメッセージ 	
		-->
	<root>
		<level value="ALL" />
		<appender-ref ref="DebugAppender" />
	</root>
</log4net>
