<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net452" />
  <package id="AspNetWebApi" version="4.0.20710.0" targetFramework="net452" />
  <package id="elmah" version="1.2.2" targetFramework="net452" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MiYABiS.WebConfigTransform" version="1.0.2" targetFramework="net452" />
  <package id="Moca.NETConfiguration" version="1.0.2" targetFramework="net452" />
  <package id="Moca.NETCore" version="2.0.1" targetFramework="net452" />
  <package id="Moca.NETWebApp" version="2.0.1" targetFramework="net452" />
  <package id="Moca.NETWebFormsProject" version="3.1.1" targetFramework="net452" />
  <package id="MSBuild.Extension.Pack" version="1.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net452" />
  <package id="WebActivator" version="1.5" targetFramework="net452" />
</packages>