<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="Replace">
		<add name="db" connectionString="" providerName="" />
	</connectionStrings>
	<userSettings>
    	<MocaDemo.My.MySettings xdt:Transform="Replace">
    		<add key="TestEnvironment" value="true" />
    	</MocaDemo.My.MySettings>
	</userSettings>
	<applicationSettings>
    	<MocaDemo.My.MySettings xdt:Transform="Replace">
    		<add key="TestEnvironment" value="true" />
    	</MocaDemo.My.MySettings>
	</applicationSettings>
<moca>
    <settings xdt:Transform="Replace">
      <transaction type="scope" />
    </settings>
  </moca></configuration>
